<section>
    This is the homepage
    <div>
        {{#blogs}}
        <div>
            <a href="comments/{{id}}">
            <span>{{id}}</span>
            <span>{{title}}</span>
            <span>{{body}}</span>
            <span>{{date}}</span>
            <span>{{username}}</span>
            </a>
        </div>
        {{#comments}}
        <span>{{body}}</span>
        {{/comments}}
        {{/blogs}}
    </div>
</section>