<section>
    <div class="hack-header">
        <div class="hack-title">
            The Hack Blog
        </div>  
    </div>
    <div>
        {{#blogs}}
        <div>
            <a style="text-decoration: none" href="comments/{{id}}">
            {{!-- <span>{{id}}</span> --}}
            <div class="blog-header">
                <span class="title">{{title}}</span>
                <span class="username">Posted by {{user.username}} on {{newDate date}}</span>
                
            </div>
            
            <div class="blog-body">{{body}}</div>
            
            </a>
        </div>
        {{#comments}}
        <div>{{body}}</div>
        {{/comments}}
        {{/blogs}}
    </div>
</section>